@use "../abstracts/variables";
@use "../abstracts/mixin";

.btn {
    background: variables.$linear-bg;
    padding: 18px 13px 17px 24px;
    border-radius: 10px;
    color: variables.$white;
    font-size: 14px;
    font-weight: 600;
    border: none;

    span {
        color: variables.$black;
        font-size: 12px;
        font-weight: 600;
        padding: 0 9px;
        height: 24px;
        line-height: 24px;
        background: variables.$white;
        border-radius: 50%;
        display: inline-block;
        margin-left: 2rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -12px;
            width: 1px;
            height: 38px;
            background: variables.$black;
        }
    }

    &:hover {
        color: variables.$white;
        background: linear-gradient(115deg, #72A479 5.11%, #618967 94%);
    }
}

.banner-btn {
    color: variables.$white;
    font-family: 'Zing Rust Demo Base';
    font-size: 25px;
    font-weight: 400;
    background: variables.$linear-bg;
    transform: skewY(350deg) rotate(0deg);
    margin-top: 20px;
    padding: 5px 23px;
    position: relative;
}

.nav-tabs {
    border-bottom: none;
    padding: 29px 0;
    position: relative;
}

.nav-tabs::before {
    position: absolute;
    content: "";
    top: 85px;
    width: 1296px;
    height: 1px;
    background: variables.$white-gray;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: none;
    padding-left: 0;
    margin-left: 0;
    border: none;
    color: variables.$white;
    font-size: 18px;
    font-weight: 500;
}

.nav-link.active::before {
    position: absolute;
    height: 3px;
    width: 153px;
    top: 84px;
    background: variables.$black-green;
    content: "";
}

.nav-tabs .nav-link {
    border-radius: 0;
    color: variables.$white-gray;
    font-size: 18px;
    font-weight: 400;
    border: none;
    margin-right: 40px;
    padding: 0;
}

.last-child {
    margin-right: 0;
}